/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		separator-style: solid;
		separator-width: 2px;
		separator-color: #000000;
	}
}

mcTableStyle
{
	name: SpecificationTabs;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 6;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	cell-padding-left: 5pt;
	cell-padding-right: 3pt;
	cell-padding-top: 5pt;
	cell-padding-bottom: 2pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	text-align: center;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column3;
	separator-style: solid;
	separator-width: 1px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2pt;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: top;
	text-align: left;
	background-color: #dcdcdc;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #ffffff;
	vertical-align: top;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	text-align: left;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	vertical-align: middle;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-SpecificationTabs
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-SpecificationTabs-FootE-Column1-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootF-Column1-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootD-Column1-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootE-Column2-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootF-Column2-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootD-Column2-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootE-Column3-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootF-Column3-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-SpecificationTabs-FootD-Column3-Footer1
	{
		border-top-width: 2px;
		border-top-color: #000000;
		border-top-style: solid;
	}
}

.TableStyle-SpecificationTabs
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-SpecificationTabs-Column-Column1
{
	
}

.TableStyle-SpecificationTabs-Column-Column2
{
	
}

.TableStyle-SpecificationTabs-Column-Column3
{
	
}

.TableStyle-SpecificationTabs-Head-Header1
{
	
}

.TableStyle-SpecificationTabs-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadI-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadE-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadF-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadH-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadD-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadC-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadB-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadA-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadG-Column1-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadI-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadI-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadE-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadE-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadF-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadF-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadH-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadH-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadD-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadD-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadC-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadC-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadB-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadB-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadA-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadA-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadG-Column2-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadG-Column2-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadI-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadI-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadE-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadE-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadF-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadF-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadH-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadH-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadD-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-HeadD-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadC-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadC-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadB-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadB-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadA-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadA-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-HeadG-Column3-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-HeadG-Column3-Header1 p
{
	
}

.TableStyle-SpecificationTabs-Foot-Footer1
{
	
}

.TableStyle-SpecificationTabs-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootI-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootE-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootF-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootH-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootD-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootC-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootB-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootA-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootG-Column1-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootI-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootI-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootE-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootE-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootF-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootF-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootH-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootH-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootD-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootD-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootC-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootC-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootB-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootB-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootA-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootA-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootG-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootG-Column2-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootI-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootI-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootE-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootE-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootF-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootF-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootH-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootH-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootD-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SpecificationTabs-FootD-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootC-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootC-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootB-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootB-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootA-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootA-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-FootG-Column3-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-SpecificationTabs-FootG-Column3-Footer1 p
{
	
}

.TableStyle-SpecificationTabs-Body-Body1
{
	
}

.TableStyle-SpecificationTabs-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyI-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyE-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyF-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyH-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyD-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyC-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyB-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyA-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyG-Column1-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyI-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyI-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyE-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyE-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyF-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyF-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyH-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyH-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyD-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyD-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyC-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyC-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyB-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyB-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyA-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyA-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyG-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyG-Column2-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyI-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyI-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyE-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyE-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyF-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyF-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyH-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyH-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyD-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyD-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyC-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyC-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyB-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyB-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyA-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyA-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-BodyG-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-SpecificationTabs-BodyG-Column3-Body1 p
{
	
}

.TableStyle-SpecificationTabs-Body-Body2
{
	
}

.TableStyle-SpecificationTabs-BodyI-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyI-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyE-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyE-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyF-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyF-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyH-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyH-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyD-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyD-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyC-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyC-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyB-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyB-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyA-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyA-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyG-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyG-Column1-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyI-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyI-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyE-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyE-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyF-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyF-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyH-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyH-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyD-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyD-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyC-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyC-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyB-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyB-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyA-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyA-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyG-Column2-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	vertical-align: top;
	background-color: #ffffff;
	text-align: center;
}

.TableStyle-SpecificationTabs-BodyG-Column2-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyI-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyI-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyE-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyE-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyF-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyF-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyH-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyH-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyD-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SpecificationTabs-BodyD-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyC-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyC-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyB-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SpecificationTabs-BodyB-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyA-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyA-Column3-Body2 p
{
	
}

.TableStyle-SpecificationTabs-BodyG-Column3-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-SpecificationTabs-BodyG-Column3-Body2 p
{
	
}


