/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TwoImages;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 4;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	cell-padding-left: 5pt;
	cell-padding-right: 3pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: middle;
	type: Automatic;
}


/* Cell Styles: */
 
.TableStyle-TwoImages
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-TwoImages-Column-Column1
{
	
}

.TableStyle-TwoImages-HeadI-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-HeadI-Column1- p
{
	
}

.TableStyle-TwoImages-HeadE-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-HeadE-Column1- p
{
	
}

.TableStyle-TwoImages-HeadF-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-HeadF-Column1- p
{
	
}

.TableStyle-TwoImages-HeadH-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-HeadH-Column1- p
{
	
}

.TableStyle-TwoImages-HeadD-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-HeadD-Column1- p
{
	
}

.TableStyle-TwoImages-HeadC-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-HeadC-Column1- p
{
	
}

.TableStyle-TwoImages-HeadB-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-HeadB-Column1- p
{
	
}

.TableStyle-TwoImages-HeadA-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-HeadA-Column1- p
{
	
}

.TableStyle-TwoImages-HeadG-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-HeadG-Column1- p
{
	
}

.TableStyle-TwoImages-FootI-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-FootI-Column1- p
{
	
}

.TableStyle-TwoImages-FootE-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-FootE-Column1- p
{
	
}

.TableStyle-TwoImages-FootF-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-FootF-Column1- p
{
	
}

.TableStyle-TwoImages-FootH-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-FootH-Column1- p
{
	
}

.TableStyle-TwoImages-FootD-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-FootD-Column1- p
{
	
}

.TableStyle-TwoImages-FootC-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-FootC-Column1- p
{
	
}

.TableStyle-TwoImages-FootB-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-FootB-Column1- p
{
	
}

.TableStyle-TwoImages-FootA-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-FootA-Column1- p
{
	
}

.TableStyle-TwoImages-FootG-Column1-
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TwoImages-FootG-Column1- p
{
	
}

.TableStyle-TwoImages-Body-Body1
{
	
}

.TableStyle-TwoImages-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-TwoImages-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TwoImages-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TwoImages-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-TwoImages-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TwoImages-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-TwoImages-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TwoImages-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: middle;
}

.TableStyle-TwoImages-BodyG-Column1-Body1 p
{
	
}


